<%= javascript_pack_tag 'pokedex' %>
<%= content_tag :div, nil, id: 'data', data: { pokemon: @pokemon, types: @types } %>

<h1 class="title"><%= @region.titleize %> Pokedex</h1>
<div id="pokedex" class="row">
  <div class="col-12">
    <entries :pokemon="pokemon" :types="types" v-cloak></entries>
  </div>
</div>

